/*手机详情页样式*/
.de_container {
	margin-top: 20px;
}
.crumb_wrap a {
	margin-right: 10px;
}
.preview_wrap {
	width: 400px;
	height: 590px;
	background-color: pink;
}
.iteminfo_wrap {
	width: 718px;
	background-color: #ccc;
}